<!DOCTYPE html>

{% extends "base.html" %}
{% load staticfiles %}

{% block body_block %}
<link rel="stylesheet" href="{% static "css/index.css" %}" />

        {% if user.is_authenticated %}
        <a href="/restricted/">Restricted Page</a><br/>
        <a href= "/logout/">Logout</a><br/>
        {% else %}
        <h2>Hello Landing Page...</h2>

       <p> Welcome to the Landing Page</p><br />

        {% endif %}

{% endblock %}




