<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}

{% block body_block %}
	{% if user.is_authenticated %}
        <a href="/restricted/">Restricted Page</a><br/>
        <a href= "/logout/">Logout</a><br/>
        {% else %}

        <h2>Welcome back</h2>
        <p>Please Login</p>

        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="sent"/>
        </form>
	{% endif %}
{% endblock %}

