<!DOCTYPE html>
{% extends "base.html" %}
{% load  staticfiles %}

{% block body_block %}
        <h2>Welcome!</h2>
        <p>New Account</p>
	{% if user.is_authenticated %}
        <a href="/restricted/">Restricted Page</a><br/>
        <a href= "/logout/">Logout</a><br/>
      
        {% elif registered %}
        Nexus says: <strong>Thank you for registering!</strong>
        <a href="/login/">Login here</a><br/>
        {% else %}

        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">

          {% csrf_token %}

          {{ user_form.as_p }}

          <input type="submit" name="submit" value="Submit"/>
        </form>
        {% endif %}
{% endblock %}

