<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
        <title>Nexus</title>
	<link rel="stylesheet" href="{% static "css/base.css" %}" />
  </head>

  <body>
      <div id="header" style="height:50px; background-color:#191970;">
        <h2 style="color:white; padding-left:10px; float:left;">NEXUS</h2>
  		    <div class="dropdown">
    			<button class="dropbtn">Account
      			    <i class="fa fa-caret-down" style="color:white;"></i>
    			</button>
    			<div class="dropdown-content">
      			    <a href="/register">Register</a>
            		    <a href="/login">Login</a>
		        </div>
  		    </div>
         </div>
      <div>
        {% block body_block %}{% endblock %}
      </div>

  </body>
</html>

